/*--Déclaration des variables--*/
$primaryColor:#9356DC;
$secondaryColor:#FF79DA;
$tertiaryColor:#99E2D0;
$lightgreyColor:darken(whitesmoke, 2%);
$darkgreyColor: darken(rgb(43, 42, 42), 80%);
$white:#fff;

$breakpoints-map:(
    tablet: 600px,
    desktop: 1024px
);

$checkTransitionWidth: 72px;
$menuAppearDelay: 400ms;
$maxDishes: 4;

/*--Déclaration des fonctions--*/
@mixin shadowBox($color: darken(whitesmoke, 15%)) {
    box-shadow: 0 5px 10px $color;
}

@mixin backgroundGrey($scale : 0%){
  background-color: darken($lightgreyColor, $scale);
}

@mixin breakpoints($min-device) {
    @media screen and (min-width: map-get($breakpoints-map, $min-device)){
        @content;
    }
}

@mixin checkTransitionTiming($type){
    transition: $type 300ms 100ms linear;
}

/* ----- Applicable à toute la page ----- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body, ul{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

li{
    list-style: none;
}

h1, h2, h3{
    margin: 0;
}

.flex{
    display: flex;
}

/* ----- Mise en page en tete ----- */
.pageHeader{
    height: 62px;
    @include breakpoints(tablet){
        height: 80px;
      }

    img {
        display: block;
        width: 170px;
        padding:20px 0 0 0;
        margin: auto;
        @include breakpoints(tablet){
            margin-bottom: 40px;
            width: 250px;
        }
    }

    i{
        position:absolute;
        margin-top:20px;
        margin-left: 15px;
        font-size: 1.2rem;
        @include breakpoints(tablet){
            font-size: 1.5rem;
        }
    }
}

/* ----- Photo de présentation du restaurant ----- */
.pageRestaurantPic{
    height: 280px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    @include breakpoints(tablet){
        height: 350px;
    }
}

.a_la_francaise{
    background-image: url(../style/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg)
}

/* ----- Nom du restaurant + like ----- */
.restaurantName{
    height: 90px;
    margin-top: -35px;
    padding-top:15px;
    justify-content: space-between;
    @include backgroundGrey (0%);
    border-radius: 1.8rem 1.8rem 0 0;
    position: relative;

    h2 {
        text-align: center;
        padding-left: 30px;
        padding-top: 20px;
        font-family: 'Shrikhand', cursive;
        font-size:1.8rem;
        @include breakpoints(tablet){
            font-size: 1.8rem;
        }
    }
}

/* ----- Transition like ----- */
#emptyHeart {
    margin-top: 25px;
    margin-right: 40px;
    position: relative;
    color:#7D7D7D;
    height: 30px;
    opacity: 1;
    display: block; 
  }

  #fullHeart {
    margin-top: 25px;
    margin-right: 40px;
    height: 28px;
  }
  
  .Like {
    #fullHeart {
      opacity: 0;
    }
    #emptyHeart {
      opacity: 1;
    }
    &:hover{
      #emptyHeart {
        display: none;
        opacity: 0;
      }
      #fullHeart {
        display: block;
        opacity: 1;
        transition: opacity 2s ease-in; 
      }
    }
  }

/* ----- Menu ----- */
.menu{
    @include backgroundGrey (0%);
    padding: 10px 20px;

    .startersMenu, .mainsMenu, .dessertsMenu{
        margin-bottom:46px;
    }

    h3{
        padding-top: 5px;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 300;
        @include breakpoints(tablet){
            font-size: 1.5rem;
        }

        &::after{
            content: "";
            display: block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
            margin-top: 5px;
        }
    }
}

.dishOptions{
    display: flex;
    justify-content: space-between;
    background-color: $white;
    margin-top: 15px;
    border-radius: 1rem;
    overflow: hidden;
    @include shadowBox;
    padding: 0;
    position: relative;
    
    .dishText{
        flex-wrap: wrap;
        padding: 13px 0 13px 12px;
        justify-content: space-between;
        @include breakpoints(tablet){
            width: 90%;
            justify-content: flex-start;
        }
    
        .dishName{
            font-weight: 500;
            font-size: 1.2rem;
            margin-bottom: 5px;
            white-space: nowrap;
            width: 90%;
            @include breakpoints(tablet){
                display: block;
                width: 50%;
                margin-bottom: 0px;
                font-size: 1.3rem;
            }
        }

        p{
            margin: 1px;
            font-weight: 300;
            font-size: 1rem;
            text-overflow: ellipsis;
            @include breakpoints(tablet){
                display: block;
                font-size: 1.2rem;
            }
        }
    }

    .dishPrice{
        align-self: flex-end;
        color: grey;
        font-weight: 700;
        position: absolute;
        right: 15px;
        bottom: 15px;
        @include breakpoints(tablet){
            display: block;
            font-size: 1.1rem;
        }
    }  
}

/* ----- Menu Loader + prix ----- */
.dishOptions{
    opacity: 0;

    .dishText{
        transform: scaleX(1);
        transform-origin: left;
        @include checkTransitionTiming(width);
    }

    .dishPrice{
        transform-origin: right;
        @include checkTransitionTiming(transform);
    }

    .check{
        display: flex;
        background-color: $tertiaryColor;
        width: $checkTransitionWidth;
        transform-origin: right;
        transform: scaleX(0);
        @include checkTransitionTiming(transform);
        .checkIcon{
            color: $white;
            font-size: 1.6rem;
            margin: auto;
            transform: rotate(0deg);
            @include checkTransitionTiming(transform)
        }
    }

    &:hover{
        cursor: pointer;
    }

    &:hover .dishText{
        width: 60%;
        .dishName, p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &:hover .check{
        transform: scaleX(1);
    }

    &:hover .checkIcon{
        transform: rotate(360deg);
    }

    &:hover .Dish_Price{
        transform: translateX(-$checkTransitionWidth);
    }

    @keyframes menu-load{
        0% {
            transform: translateY(20px);
        }
        75%{
            opacity: .5;
        }
        100% {
            transform: translate(0);
            opacity: 1;
        }
    }

    @for $i from 1 through ($maxDishes){
        &:nth-of-type(#{$i}){
            animation: menu-load 800ms $menuAppearDelay*$i forwards;
        }
    }
}

/* ----- Buton commander ----- */
.button {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.btn{
    display:block;
    margin:auto !important;
    box-sizing: border-box;
    display: inline-block;
    height: 60px;
    padding: 3px 60px;
    border-radius: 2rem;
    border: none;
    color: $white;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: linear-gradient(170deg, $secondaryColor, lighten($primaryColor, 5%));
    @include shadowBox;
    cursor: pointer;
    a{
        color: $white;
    }
    &:hover{
        background: linear-gradient(180deg, lighten($secondaryColor, 10%), lighten($primaryColor, 10%));
      @include shadowBox(lighten($lightgreyColor, 20%));
    }
    @include breakpoints(tablet){
        font-size: 1.3rem;
      }
}

/* ----- Mise en page pied de page ----- */
footer{
    @include backgroundGrey (70%);
  
    h3, a, i {
      color: white;
    }
  
    h3{
      font-family: 'Shrikhand', cursive;
      font-size:1.2rem;
      padding: 20px 20px 10px 20px;
      }
  
    li{
      font-size:1.1rem;
      font-weight: 300;
      margin-left: 15px;
      padding: 5px;
    }

    i {
      font-size: 0.9rem;
      width: 21px;
      margin: 0 5px 0 0;
    }

    @include breakpoints(tablet){
        h3 {
          font-size: 1.4rem;
        }
    
        li {
          font-size: 1.2rem;
        }
      }
  }