@charset "UTF-8";
/*--Déclaration des variables--*/
/*--Déclaration des fonctions--*/
/*--Page Loader--*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.pageLoader {
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: white;
  -webkit-animation: load-background 3s 100ms backwards;
          animation: load-background 3s 100ms backwards;
}

.pageLoader .spinner {
  -webkit-transform: scale(0);
          transform: scale(0);
  font-size: 8rem;
  color: #9356DC;
  margin: auto;
  -webkit-animation: load-spinner 3s 100ms linear backwards;
          animation: load-spinner 3s 100ms linear backwards;
}

@-webkit-keyframes load-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    opacity: 0.75;
  }
  100% {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
    opacity: 0;
  }
}

@keyframes load-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    opacity: 0.75;
  }
  100% {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
    opacity: 0;
  }
}

@-webkit-keyframes load-background {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 100vh;
    width: 100vw;
  }
}

@keyframes load-background {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 100vh;
    width: 100vw;
  }
}

/* ----- Applicable à toute la page ----- */
body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ----- Mise en page en tete ----- */
.homepageHeader {
  height: 70px;
}

@media screen and (min-width: 600px) {
  .homepageHeader {
    height: 120px;
  }
}

.homepageHeader img {
  margin: auto;
  margin-bottom: 16px;
  width: 170px;
}

@media screen and (min-width: 600px) {
  .homepageHeader img {
    margin-bottom: 20px;
    width: 250px;
  }
}

/* ----- Mise en page ligne de localisation ----- */
.location {
  height: 55px;
  background-color: #e1e1e1;
  color: black;
  -webkit-box-shadow: inset 0 5px 4px -2px #c7c7c7;
          box-shadow: inset 0 5px 4px -2px #c7c7c7;
}

.location i {
  font-size: 20px;
  margin-right: 18px;
}

.location p {
  margin: auto;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .location p {
    font-size: 1.3rem;
  }
}

/* ----- Mise en page bloc de présentation ----- */
.about {
  padding: 60px 25px 55px;
  background-color: #f0f0f0;
  text-align: center;
}

.about h2, .about p {
  display: block;
}

.about h2 {
  font-weight: 550;
  font-size: 1.7rem;
  margin: 0 40px 15px 40px;
}

@media screen and (min-width: 600px) {
  .about h2 {
    font-size: 1.9rem;
  }
}

.about p {
  margin-bottom: 30px;
  font-weight: 200;
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
  .about p {
    font-size: 1.5rem;
  }
}

.about a {
  color: white;
  font-weight: 400;
  font-size: 1rem;
  vertical-align: middle;
}

@media screen and (min-width: 600px) {
  .about a {
    font-size: 1.5rem;
  }
}

.about .btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 230px;
  height: 48px;
  padding: 15px;
  border-radius: 2rem;
  border: none !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff60d3), to(#8641d8));
  background-image: linear-gradient(180deg, #ff60d3, #8641d8);
  -webkit-box-shadow: 0 5px 15px silver;
          box-shadow: 0 5px 15px silver;
  cursor: pointer;
}

.about .btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa2e5), to(#a978e3));
  background: linear-gradient(180deg, #ffa2e5, #a978e3);
  -webkit-box-shadow: 0 5px 15px #a3a3a3;
          box-shadow: 0 5px 15px #a3a3a3;
}

@media screen and (min-width: 600px) {
  .about .btn {
    width: 400px;
    height: 60px;
    background-image: linear-gradient(160deg, #ff88de, #9b63df);
  }
}

/* ----- Mise en page bloc du fonctionnement ----- */
.howTo {
  padding: 55px 10px 55px 20px;
}

@media screen and (min-width: 600px) {
  .howTo {
    padding: 20px 10px 30px;
  }
}

.howTo h2 {
  font-weight: 550;
  font-size: 1.7rem;
  margin-bottom: 35px;
}

@media screen and (min-width: 600px) {
  .howTo h2 {
    font-weight: 600;
    font-size: 1.8rem;
    margin: 30px 20px;
  }
}

.howToList {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.howToStep {
  height: 80px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .howToStep {
    width: 33%;
  }
}

.howToStep .stepNumber {
  background-color: #9356DC;
  height: 25px;
  width: 25px;
  color: #fff;
  border-radius: 50%;
  z-index: 2;
  font-size: 0.9rem;
}

@media screen and (min-width: 600px) {
  .howToStep .stepNumber {
    height: 40px;
    width: 45px;
    border-radius: 50%;
    font-size: 1rem;
  }
}

.howToStep .stepNumber span {
  margin: auto;
}

.stepText {
  position: relative;
  left: -12px;
  background-color: #f0f0f0;
  border-radius: 1.6rem;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 15px silver;
          box-shadow: 0 5px 15px silver;
}

.stepText p {
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .stepText p {
    font-size: 1.1rem;
  }
}

.stepText i {
  width: 21px;
  color: #7D7D7D;
  margin: 0 25px 0 30px;
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
  .stepText i {
    margin: 0px 20px 0 20px;
    font-size: 1.5rem;
  }
}

.stepText:hover {
  background-color: #e4d5f6;
}

.stepText:hover i {
  color: #9356DC;
}

/* ----- Bloc restaurants ----- */
.restaurants {
  padding: 60px 25px 50px 25px;
  background-color: #f0f0f0;
}

.restaurants h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
  .restaurants h2 {
    font-size: 1.9rem;
  }
}

.restaurantsBox {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 600px) {
  .restaurantsBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.restaurantsBox .restaurantCard {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 280px;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 15px silver;
          box-shadow: 0 5px 15px silver;
}

@media screen and (min-width: 600px) {
  .restaurantsBox .restaurantCard {
    width: 50%;
    height: 400px;
    padding: 20px;
  }
}

.restaurantsBox .restaurantPic {
  height: 70%;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  background-position: bottom center;
  position: relative;
}

@media screen and (min-width: 600px) {
  .restaurantsBox .restaurantPic {
    height: 80%;
  }
}

.restaurantsBox .restaurantPicEX {
  height: 70%;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  background-position: center center;
  position: relative;
}

@media screen and (min-width: 600px) {
  .restaurantsBox .restaurantPicEX {
    height: 80%;
  }
}

.restaurantsBox .la_palette_du_gout {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.restaurantsBox .la_note_enchantee {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.restaurantsBox .a_la_francaise {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.restaurantsBox .le_delice_des_sens {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.restaurantsBox .New {
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px 15px;
  border-radius: 1px;
  font-weight: 500;
  font-size: 0.9rem;
}

@media screen and (min-width: 600px) {
  .restaurantsBox .New {
    font-size: 1.4rem;
  }
}

.restaurantsBox .restaurantDetails {
  height: 30%;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
}

@media screen and (min-width: 600px) {
  .restaurantsBox .restaurantDetails {
    height: 20%;
  }
}

.restaurantsBox .restaurantDetails .detailsText {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurantsBox .restaurantDetails .detailsText .restaurantName {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

@media screen and (min-width: 600px) {
  .restaurantsBox .restaurantDetails .detailsText .restaurantName {
    font-size: 1.4rem;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.restaurantsBox .restaurantDetails .detailsText p {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
}

/* ----- Transition like_restaurant1 ----- */
#emptyHeart1, #emptyHeart2, #emptyHeart3, #emptyHeart4 {
  margin-top: 25px;
  margin-right: 20px;
  position: relative;
  color: #7D7D7D;
  height: 26px;
  opacity: 1;
  display: block;
}

#fullHeart1, #fullHeart2, #fullHeart3, #fullHeart4 {
  margin-top: 25px;
  margin-right: 20px;
  height: 25px;
}

.Like #fullHeart1, .Like #fullHeart2, .Like #fullHeart3, .Like #fullHeart4 {
  opacity: 0;
}

.Like #emptyHeart1, .Like #emptyHeart2, .Like #emptyHeart3, .Like #emptyHeart4 {
  opacity: 1;
}

.Like:hover #emptyHeart1, .Like:hover #emptyHeart2, .Like:hover #emptyHeart3, .Like:hover #emptyHeart4 {
  display: none;
  opacity: 0;
}

.Like:hover #fullHeart1, .Like:hover #fullHeart2, .Like:hover #fullHeart3, .Like:hover #fullHeart4 {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

/* ----- Mise en page pied de page ----- */
footer {
  background-color: #3d3d3d;
}

footer h3, footer a, footer i {
  color: white;
}

footer h3 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.2rem;
  padding: 20px 20px 10px 20px;
}

footer li {
  font-size: 1.1rem;
  font-weight: 300;
  margin-left: 15px;
  padding: 5px;
}

footer i {
  font-size: 0.9rem;
  width: 21px;
  margin: 0 5px 0 0;
}

@media screen and (min-width: 600px) {
  footer h3 {
    font-size: 1.4rem;
  }
  footer li {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style_homepage.css.map */