/*--Déclaration des variables--*/
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$lightgrey-color:darken(whitesmoke, 2%);
$darkgrey-color: darken(grey, 25%);
$white:#fff;

$check-transition-width: 70px;
$menu-appear-delay: 200ms;
$max-dishes: 4;

/*--Déclaration des fonctions--*/
@mixin check-transition-timing($type){
    transition: $type 300ms 100ms linear;
}

@mixin heart-transition{
    #EmptyHeart{
        font-size: 1.7rem;
        cursor: pointer;
        position: relative;
        transition: color 150ms 50ms ease;
        &:hover{
            color: transparent;
        }
        &:hover > .fullHeart{
            transform: scale(1);
        }
    }
    #FullHeart{
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(160deg, $secondary-color, $primary-color);
        -webkit-text-fill-color: transparent;
        transform: scale(0);
        transition: transform 150ms 50ms ease-in-out;
    }
}


/* ----- Transition heart_Nom du restaurant__Page ----- */
.RestaurantName{
    justify-content: space-between;
    align-items: baseline;
    @include heart-transition;
    margin-right: 20px;
}

/* ----- Transition plats__Page ----- */
.DishOptions{
    opacity: 0;

    .DishText{
        transform: scaleX(1);
        transform-origin: left;
        @include check-transition-timing(width);
    }

    .DishPrice{
        transform-origin: right;
        @include check-transition-timing(transform);
    }

    .Check{
        display: flex;
        background-color: $tertiary-color;
        width: $check-transition-width;
        transform-origin: right;
        transform: scaleX(0);
        @include check-transition-timing(transform);
        .CheckIcon{
            color: $white;
            font-size: 1.6rem;
            margin: auto;
            transform: rotate(0deg);
            @include check-transition-timing(transform)
        }
    }
    &:hover{
        cursor: pointer;
    }
    &:hover .DishText{
        width: 60%;
        .DishName, p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &:hover .Check{
        transform: scaleX(1);
    }
    &:hover .CheckIcon{
        transform: rotate(360deg);
    }
    &:hover .Dish_Price{
        transform: translateX(-$check-transition-width);
    }

    @keyframes menu-load{
        0% {
            transform: translateY(20px);
        }
        75%{
            opacity: .5;
        }
        100% {
            transform: translate(0);
            opacity: 1;
        }
    }
    @for $i from 1 through ($max-dishes){
        &:nth-of-type(#{$i}){
            animation: menu-load 800ms $menu-appear-delay*$i forwards;
        }
    }
}