/*--Déclaration des variables--*/
$primaryColor:#9356DC;
$secondaryColor:#FF79DA;
$tertiaryColor:#99E2D0;
$lightgreyColor:darken(whitesmoke, 2%);
$darkgreyColor: darken(grey, 25%);
$white:#fff;

$breakpoints-map:(
    tablet: 600px,
    desktop: 1024px
);

/*--Déclaration des fonctions--*/
@mixin shadowBox($color: lighten(grey, 25%)) {
  box-shadow: 0 5px 15px $color;
}

@mixin backgroundGrey($scale : 0%){
background-color: darken($lightgreyColor, $scale);
}

@mixin breakpoints($min-device) {
  @media screen and (min-width: map-get($breakpoints-map, $min-device)){
      @content;
  }
}

/*--Page Loader--*/

.pageLoader{
  height: 100%;
  position: absolute;
  display: flex;
  z-index: 3;
  transform: scale(0);
  background-color: white;
  animation: load-background 3s 100ms backwards;
  .spinner{
      transform: scale(0);
      font-size: 8rem;
      color: $primaryColor;
      margin: auto;
      animation: load-spinner 3s 100ms linear backwards;
  }
}

@keyframes load-spinner{
  0% {
      transform: rotate(0deg);
  }
  75% {
      opacity: 0.75;
  }
  100% {
      transform: rotate(3turn);
      opacity: 0;
  }
}

@keyframes load-background{
  0%,100% {
      transform: scale(1);
      height: 100vh;
      width: 100vw;
  }
}

/* ----- Applicable à toute la page----- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body, ul{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: #000;
}

li{
    list-style: none;
}

h1, h2, h3{
  margin: 0;
}

.flex{
  display: flex;
}

/* ----- Mise en page en tete ----- */
.homepageHeader{
  height: 70px;
  @include breakpoints(tablet){
    height: 120px;
  }

  img{
    margin: auto;
    margin-bottom: 16px;
    width: 170px;
    @include breakpoints(tablet){
      margin-bottom: 20px;
      width: 250px;
    }
  }
}

/* ----- Mise en page localisation ----- */
.location {
  height: 55px;
  @include backgroundGrey(6%);
  color: darken($darkgreyColor, 50%);
  box-shadow: inset 0 5px 4px -2px darken($lightgreyColor, 16%);

  i{
    font-size: 20px; 
    margin-right: 18px;
  }

  p{
    margin: auto;
    font-size:1rem;
    @include breakpoints(tablet){
      font-size:1.3rem;
    }
  }
}

/* ----- Mise en page bloc de présentation ----- */
.about{
  padding: 60px 25px 55px;
  @include backgroundGrey(0%);
  text-align: center;

  h2, p{
    display:block;
  }

  h2{
    font-weight: 550;
    font-size:1.7rem;  
    margin: 0 40px 15px 40px;
    @include breakpoints(tablet){
      font-size: 1.9rem;
    }
  }

  p{
    margin-bottom: 30px;
    font-weight: 200;
    font-size: 1.2rem;
    @include breakpoints(tablet){
      font-size: 1.5rem;
    }
  }

  a{
    color: white;
    font-weight: 400;
    font-size:1rem;
    vertical-align: middle;
    @include breakpoints(tablet){
      font-size: 1.5rem;
    }
  }   

  .btn{
    box-sizing: border-box;
    display: inline-block;
    width: 230px;
    height: 48px;
    padding: 15px;
    border-radius: 2rem;
    border:none !important;
    background-image: linear-gradient(180deg,darken($secondaryColor, 5%), darken($primaryColor,5%));
    @include shadowBox;
    cursor: pointer;
    &:hover{
      background: linear-gradient(180deg, lighten($secondaryColor, 8%), lighten($primaryColor, 8%));
      @include shadowBox(darken($lightgreyColor, 30%));
    }
    @include breakpoints(tablet){
      width: 400px;
      height: 60px;
      background-image: linear-gradient(160deg,lighten($secondaryColor,3%), lighten($primaryColor,3%));
    }
  }
}

/* ----- Mise en page bloc du fonctionnement ----- */
.howTo{
  padding: 55px 10px 55px 20px;
  @include breakpoints(tablet){
    padding: 20px 10px 30px;
  }

  h2{
    font-weight: 550;
    font-size:1.7rem;
    margin-bottom:35px;
    @include breakpoints(tablet){
      font-weight: 600;
      font-size:1.8rem;
      margin: 30px 20px;
    }
  }
}

.howToList{
  width: 100%;
  flex-wrap: wrap;
}

.howToStep{
  height: 80px;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
  @include breakpoints(tablet){
    width: 33%;
  }

  .stepNumber{
    background-color: $primaryColor;
    height: 25px;
    width: 25px;
    color: $white;
    border-radius: 50%;
    z-index: 2;
    font-size: 0.9rem;
    @include breakpoints(tablet){
      height: 40px;
      width: 45px;
      border-radius: 50%;
      font-size: 1rem;
    }
    span{
      margin: auto;
    }
  }
}

.stepText{
  position: relative;
  left: -12px;
  @include backgroundGrey;
  border-radius: 1.6rem;
  width: 100%;
  height: 100%;
  align-items: center;
  @include shadowBox;

  p{
  font-size: 1rem;
  font-weight: 400;
  @include breakpoints(tablet){
    font-size: 1.1rem;
  }
  }
  
  i{
    width: 21px;
    color: #7D7D7D;
    margin: 0 25px 0 30px;
    font-size: 1.2rem;
    @include breakpoints(tablet){
      margin: 0px 20px 0 20px;
      font-size: 1.5rem;
    }
  }
      
  &:hover{
    background-color: lighten($primaryColor, 30%);
    i{
      color: $primaryColor;
    }
  }
}
      
/* ----- Bloc restaurants ----- */
.restaurants{
  padding: 60px 25px 50px 25px;
  @include backgroundGrey (0%);

  h2{
  font-weight: 600;
  font-size:1.5rem;
  margin-bottom: 20px;
  @include breakpoints(tablet){
      font-size: 1.9rem;
    }
  }
}

.restaurantsBox{
  flex-wrap: wrap;
  @include breakpoints(tablet){
    flex-direction: row;
    flex-wrap: wrap;
  }

  .restaurantCard{
    box-sizing: border-box;
    height: 280px;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 20px;
    @include shadowBox;
    @include breakpoints(tablet){
      width: 50%;
      height: 400px;
      padding:20px;
    }
  }

  .restaurantPic{
    height: 70%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    background-size: cover;
    background-position: bottom center;
    position: relative;
    @include breakpoints(tablet){
      height: 80%;
    }
  }

  .restaurantPicEX{
    height: 70%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    background-size: cover;
    background-position: center center;
    position: relative;
    @include breakpoints(tablet){
      height: 80%;
    }
  }

  .la_palette_du_gout{
    background-image: url(style/images/Restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg)
  }
  
  .la_note_enchantee{
    background-image: url(style/images/Restaurants/stil-u2Lp8tXIcjw-unsplash.jpg)
  }
  
  .a_la_francaise{
    background-image: url(style/images/Restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg)
  }
  
  .le_delice_des_sens{
    background-image: url(style/images/Restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg)
  }

  .New{
    background-color: $tertiaryColor;
    color: darken($tertiaryColor, 40%);
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 6px 15px;
    border-radius: 1px;
    font-weight: 500;
    font-size: 0.9rem;
    @include breakpoints(tablet){
      font-size: 1.4rem;
    }
  }

  .restaurantDetails{
    height: 30%;
    background-color: $white;
    border-radius: 0 0 1rem 1rem;
    @include breakpoints(tablet){
      height: 20%;
    }

    .detailsText{
      flex: 1;
      padding-left: 15px;
      flex-direction: column;
      justify-content: center;

      .restaurantName{
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 5px;
        @include breakpoints(tablet){
          font-size: 1.4rem;
          margin-top: 2px;
          margin-bottom: 2px;
        }
      }

      p{
        margin: 0;
        font-weight: 300;
        font-size: 1rem;
      } 
    }
  }
}

/* ----- Transition like_restaurant1 ----- */
#emptyHeart1, #emptyHeart2, #emptyHeart3, #emptyHeart4 {
  margin-top: 25px;
  margin-right: 20px;
  position: relative;
  color:#7D7D7D;
  height: 26px;
  opacity: 1;
  display: block; 
}

#fullHeart1, #fullHeart2, #fullHeart3, #fullHeart4 {
  margin-top: 25px;
  margin-right: 20px;
  height: 25px;
}

.Like {
  #fullHeart1, #fullHeart2, #fullHeart3, #fullHeart4 {
    opacity: 0;
  }
  #emptyHeart1, #emptyHeart2, #emptyHeart3, #emptyHeart4 {
    opacity: 1;
  }
  &:hover{
    #emptyHeart1, #emptyHeart2, #emptyHeart3, #emptyHeart4 {
      display: none;
      opacity: 0;
    }
    #fullHeart1, #fullHeart2, #fullHeart3, #fullHeart4 {
      display: block;
      opacity: 1;
      transition: opacity 2s ease-in; 
    }
  }
}

/* ----- Mise en page pied de page ----- */
footer{
  @include backgroundGrey (70%);

  h3, a, i {
    color: white;
  }

  h3{
    font-family: 'Shrikhand', cursive;
    font-size:1.2rem;
    padding: 20px 20px 10px 20px;
    }

  li{
    font-size:1.1rem;
    font-weight: 300;
    margin-left: 15px;
    padding: 5px;
  }

  i {
    font-size: 0.9rem;
    width: 21px;
    margin: 0 5px 0 0;
  }

  @include breakpoints(tablet){
      h3 {
        font-size: 1.4rem;
      }
  
      li {
        font-size: 1.2rem;
      }
    }
}



