@charset "UTF-8";
/*--Déclaration des variables--*/
/*--Déclaration des fonctions--*/
/* ----- Transition heart_Nom du restaurant__Page ----- */
.RestaurantName {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 20px;
}

.RestaurantName .emptyHeart {
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: color 150ms 50ms ease;
  transition: color 150ms 50ms ease;
}

.RestaurantName .emptyHeart:hover {
  color: transparent;
}

.RestaurantName .emptyHeart:hover > .fullHeart {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.RestaurantName .fullHeart {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms 50ms ease-in-out;
  transition: -webkit-transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out, -webkit-transform 150ms 50ms ease-in-out;
}

/* ----- Transition plats__Page ----- */
.DishOptions {
  opacity: 0;
}

.DishOptions .DishText {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: width 300ms 100ms linear;
  transition: width 300ms 100ms linear;
}

.DishOptions .DishPrice {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 300ms 100ms linear;
  transition: -webkit-transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear, -webkit-transform 300ms 100ms linear;
}

.DishOptions .Check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99E2D0;
  width: 72px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms 100ms linear;
  transition: -webkit-transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear, -webkit-transform 300ms 100ms linear;
}

.DishOptions .Check .CheckIcon {
  color: #fff;
  font-size: 1.6rem;
  margin: auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 300ms 100ms linear;
  transition: -webkit-transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear, -webkit-transform 300ms 100ms linear;
}

.DishOptions:hover {
  cursor: pointer;
}

.DishOptions:hover .DishText {
  width: 60%;
}

.DishOptions:hover .DishText .DishName, .DishOptions:hover .DishText p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.DishOptions:hover .Check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.DishOptions:hover .CheckIcon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.DishOptions:hover .Dish_Price {
  -webkit-transform: translateX(-72px);
          transform: translateX(-72px);
}

@-webkit-keyframes menu-load {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    opacity: .5;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes menu-load {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    opacity: .5;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

.DishOptions:nth-of-type(1) {
  -webkit-animation: menu-load 800ms 200ms forwards;
          animation: menu-load 800ms 200ms forwards;
}

.DishOptions:nth-of-type(2) {
  -webkit-animation: menu-load 800ms 400ms forwards;
          animation: menu-load 800ms 400ms forwards;
}

.DishOptions:nth-of-type(3) {
  -webkit-animation: menu-load 800ms 600ms forwards;
          animation: menu-load 800ms 600ms forwards;
}

.DishOptions:nth-of-type(4) {
  -webkit-animation: menu-load 800ms 800ms forwards;
          animation: menu-load 800ms 800ms forwards;
}
/*# sourceMappingURL=style_transitions.css.map */