@charset "UTF-8";
/*--Déclaration des variables--*/
/*--Déclaration des fonctions--*/
/* ----- Applicable à toute la page ----- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ----- Mise en page en tete ----- */
.pageHeader {
  height: 62px;
}

@media screen and (min-width: 600px) {
  .pageHeader {
    height: 80px;
  }
}

.pageHeader img {
  display: block;
  width: 170px;
  padding: 20px 0 0 0;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .pageHeader img {
    margin-bottom: 40px;
    width: 250px;
  }
}

.pageHeader i {
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
  .pageHeader i {
    font-size: 1.5rem;
  }
}

/* ----- Photo de présentation du restaurant ----- */
.pageRestaurantPic {
  height: 280px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}

@media screen and (min-width: 600px) {
  .pageRestaurantPic {
    height: 350px;
  }
}

.la_palette_du_gout {
  background-image: url(images/Restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

/* ----- Nom du restaurant + like ----- */
.restaurantName {
  height: 90px;
  margin-top: -35px;
  padding-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 1.8rem 1.8rem 0 0;
  position: relative;
}

.restaurantName h2 {
  text-align: center;
  padding-left: 30px;
  padding-top: 20px;
  font-family: 'Shrikhand', cursive;
  font-size: 1.8rem;
}

@media screen and (min-width: 600px) {
  .restaurantName h2 {
    font-size: 1.8rem;
  }
}

/* ----- Transition like ----- */
#emptyHeart {
  margin-top: 25px;
  margin-right: 40px;
  position: relative;
  color: #7D7D7D;
  height: 30px;
  opacity: 1;
  display: block;
}

#fullHeart {
  margin-top: 25px;
  margin-right: 40px;
  height: 28px;
}

.Like #fullHeart {
  opacity: 0;
}

.Like #emptyHeart {
  opacity: 1;
}

.Like:hover #emptyHeart {
  display: none;
  opacity: 0;
}

.Like:hover #fullHeart {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

/* ----- Menu ----- */
.menu {
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.menu .startersMenu, .menu .mainsMenu, .menu .dessertsMenu {
  margin-bottom: 46px;
}

.menu h3 {
  padding-top: 5px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 300;
}

@media screen and (min-width: 600px) {
  .menu h3 {
    font-size: 1.5rem;
  }
}

.menu h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #99E2D0;
  margin-top: 5px;
}

.dishOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  margin-top: 15px;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px #cfcfcf;
          box-shadow: 0 5px 10px #cfcfcf;
  padding: 0;
  position: relative;
}

.dishOptions .dishText {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 13px 0 13px 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .dishOptions .dishText {
    width: 90%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.dishOptions .dishText .dishName {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 5px;
  white-space: nowrap;
  width: 90%;
}

@media screen and (min-width: 600px) {
  .dishOptions .dishText .dishName {
    display: block;
    width: 50%;
    margin-bottom: 0px;
    font-size: 1.3rem;
  }
}

.dishOptions .dishText p {
  margin: 1px;
  font-weight: 300;
  font-size: 1rem;
  text-overflow: ellipsis;
}

@media screen and (min-width: 600px) {
  .dishOptions .dishText p {
    display: block;
    font-size: 1.2rem;
  }
}

.dishOptions .dishPrice {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: grey;
  font-weight: 700;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

@media screen and (min-width: 600px) {
  .dishOptions .dishPrice {
    display: block;
    font-size: 1.1rem;
  }
}

/* ----- Menu Loader + prix ----- */
.dishOptions {
  opacity: 0;
}

.dishOptions .dishText {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: width 300ms 100ms linear;
  transition: width 300ms 100ms linear;
}

.dishOptions .dishPrice {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 300ms 100ms linear;
  transition: -webkit-transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear, -webkit-transform 300ms 100ms linear;
}

.dishOptions .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99E2D0;
  width: 72px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms 100ms linear;
  transition: -webkit-transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear, -webkit-transform 300ms 100ms linear;
}

.dishOptions .check .checkIcon {
  color: #fff;
  font-size: 1.6rem;
  margin: auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 300ms 100ms linear;
  transition: -webkit-transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear, -webkit-transform 300ms 100ms linear;
}

.dishOptions:hover {
  cursor: pointer;
}

.dishOptions:hover .dishText {
  width: 60%;
}

.dishOptions:hover .dishText .dishName, .dishOptions:hover .dishText p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dishOptions:hover .check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.dishOptions:hover .checkIcon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.dishOptions:hover .Dish_Price {
  -webkit-transform: translateX(-72px);
          transform: translateX(-72px);
}

@-webkit-keyframes menu-load {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    opacity: .5;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes menu-load {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    opacity: .5;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

.dishOptions:nth-of-type(1) {
  -webkit-animation: menu-load 800ms 400ms forwards;
          animation: menu-load 800ms 400ms forwards;
}

.dishOptions:nth-of-type(2) {
  -webkit-animation: menu-load 800ms 800ms forwards;
          animation: menu-load 800ms 800ms forwards;
}

.dishOptions:nth-of-type(3) {
  -webkit-animation: menu-load 800ms 1200ms forwards;
          animation: menu-load 800ms 1200ms forwards;
}

.dishOptions:nth-of-type(4) {
  -webkit-animation: menu-load 800ms 1600ms forwards;
          animation: menu-load 800ms 1600ms forwards;
}

/* ----- Buton commander ----- */
.button {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.btn {
  display: block;
  margin: auto !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  height: 60px;
  padding: 3px 60px;
  border-radius: 2rem;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: linear-gradient(170deg, #FF79DA, #a16be0);
  -webkit-box-shadow: 0 5px 10px #cfcfcf;
          box-shadow: 0 5px 10px #cfcfcf;
  cursor: pointer;
}

.btn a {
  color: #fff;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(180deg, #fface8, #ae80e5);
  -webkit-box-shadow: 0 5px 10px white;
          box-shadow: 0 5px 10px white;
}

@media screen and (min-width: 600px) {
  .btn {
    font-size: 1.3rem;
  }
}

/* ----- Mise en page pied de page ----- */
footer {
  background-color: #3d3d3d;
}

footer h3, footer a, footer i {
  color: white;
}

footer h3 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.2rem;
  padding: 20px 20px 10px 20px;
}

footer li {
  font-size: 1.1rem;
  font-weight: 300;
  margin-left: 15px;
  padding: 5px;
}

footer i {
  font-size: 0.9rem;
  width: 21px;
  margin: 0 5px 0 0;
}

@media screen and (min-width: 600px) {
  footer h3 {
    font-size: 1.4rem;
  }
  footer li {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style_page_la_palette_du_gout.css.map */