/*--Déclaration des variables--*/
$primaryColor:#9356DC;
$secondaryColor:#FF79DA;
$tertiaryColor:#99E2D0;
$lightgreyColor:darken(whitesmoke, 2%);
$darkgreyColor: darken(grey, 25%);
$white:#fff;

$breakpointsMap:(
    tablet: 300px,
    desktop: 1024px
);

$checkTransitionWidth: 72px;
$menuAppearDelay: 400ms;
$maxDishes: 4;

/*--Déclaration des fonctions--*/
@mixin shadowBox($color: darken(grey, 5%)) {
    box-shadow: 0 5px 10px $color;
}

@mixin backgroundGrey($scale : 0%){
  background-color: darken($lightgreyColor, $scale);
}

@mixin breakpoints($min-device) {
  @media screen and (min-width: map-get($breakpointsMap, $min-device)){
      @content;
  }
}

@mixin checkTransitionTiming($type){
    transition: $type 300ms 100ms linear;
}

/* ----- Applicable à toute la page ----- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body, ul{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

li{
    list-style: none;
}

h1, h2, h3{
    margin: 0;
}

.flex{
    display: flex;
}

/* ----- Mise en page en tete ----- */
.PageHeader{
    height: 60px;

    img {
        display: block;
        width: 170px;
        padding:20px 0 0 0;
        margin: auto;
    }

    i{
        position:absolute;
        margin-top:25px;
        margin-left: 15px;
    }
}

/* ----- Photo de présentation du restaurant ----- */
.PagerestaurantPic{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    }

.la_palette_du_gout{
    background-image: url(../style/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg)
}
  
.la_note_enchantee{
    background-image: url(../style/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg)
}
  
.a_la_francaise{
    background-image: url(../style/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg)
}
  
.le_delice_des_sens{
    background-image: url(../style/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg)
}

/* ----- Menu Loader ----- */
.dishes{
    display: flex;
    justify-content: space-between;
    background-color: $white;
    margin-top: 14px;
    border-radius: 1rem;
    overflow: hidden;
    @include shadowBox;
    padding: 0;
    position: relative;
    opacity: 0;
    &__text{
        width: 80%;
        transform: scaleX(1);
        transform-origin: left;
        @include checkTransitionTiming(width);
        padding: 13px 0 13px 12px;
        justify-content: space-between;
        .dish_name{
            font-weight: 600;
            font-size: 1.1rem;
            margin-bottom: 5px;
            white-space: nowrap;
        }
        p{
            margin: 0;
            font-weight: 300;
            font-size: 0.9rem;
            text-overflow: ellipsis;
        }
    }
    &__price{
        align-self: flex-end;
        color: $darkgreyColor;
        font-weight: 700;
        position: absolute;
        right: 15px;
        bottom: 15px;
        transform-origin: right;
        @include checkTransitionTiming(transform);
    }
    .check__animation{
        display: flex;
        background-color: $tertiaryColor;
        width: $checkTransitionWidth;
        transform-origin: right;
        transform: scaleX(0);
        @include checkTransitionTiming(transform);
        .anim_icon{
            color: $white;
            font-size: 1.6rem;
            margin: auto;
            transform: rotate(0deg);
            @include checkTransitionTiming(transform);
        }
    }
    &:hover{
        cursor: pointer;
    }
    &:hover .dishes__text{
        width: 60%;
        .dish_name, p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &:hover .check__animation{
        transform: scaleX(1);
    }
    &:hover .anim_icon{
        transform: rotate(360deg);
    }
    &:hover .dishes__price{
        transform: translateX(-$checkTransitionWidth);
    }

    @keyframes menu-load{
        0% {
            transform: translateY(20px);
        }
        75%{
            opacity: .5;
        }
        100% {
            transform: translate(0);
            opacity: 1;
        }
    }
    @for $i from 1 through ($maxDishes){
        &:nth-of-type(#{$i}){
            animation: menu-load 800ms $menuAppearDelay*$i forwards;
        }
    }
}

/* ----- Nom du restaurant + like ----- */
.restaurantName{
    height: 60px;
    margin-top: -30px;
    justify-content: space-between;
    align-items: baseline;
    @include backgroundGrey (4%);
    border-radius: 1.8rem 1.8rem 0 0;
    position: relative;

    h2 {
        text-align: center;
        padding-left: 30px;
        padding-top: 20px;
        font-family: 'Shrikhand', cursive;
        font-size:1.4rem;
    }

    i{
        padding-right: 20px;
        padding-top: 13px;
    }
}

#emptyHeart {
    margin-top: 25px;
    margin-right: 20px;
    position: relative;
    color:#7D7D7D;
    height: 26px;
    opacity: 1;
    display: block; 
  }
  #fullHeart {
    margin-top: 25px;
    margin-right: 20px;
    height: 25px;
  }
  
  .Like {
    #fullHeart {
      opacity: 0;
    }
    #emptyHeart {
      opacity: 1;
    }
    &:hover{
      #emptyHeart {
        display: none;
        opacity: 0;
      }
      #fullHeart {
        display: block;
        opacity: 1;
        transition: opacity 2s ease-in; 
      }
    }
  }


/* ----- Entrées ----- */
.Menu{
    @include backgroundGrey (4%);
    padding: 10px 20px;

    .StartersMenu, .MainsMenu, .DessertsMenu{
        margin-bottom:30px;
    }

    h3{
        padding-top: 20px;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 200;
        &::after{
            content: "";
            display: block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
            margin-top: 5px;
        }
    }
}

.DishOptions{
    display: flex;
    justify-content: space-between;
    background-color: $white;
    margin-top: 14px;
    border-radius: 1rem;
    overflow: hidden;
    @include shadowBox;
    padding: 0;
    position: relative;
    
    .DishText{
        width: 80%;
        padding: 13px 0 13px 12px;
        justify-content: space-between;
    
        .DishName{
            font-weight: 500;
            font-size: 1.1rem;
            margin-bottom: 5px;
            white-space: nowrap;
        }

        p{
            margin: 0;
            font-weight: 300;
            font-size: 0.9rem;
            text-overflow: ellipsis;
        }
    }

    .DishPrice{
        align-self: flex-end;
        color: grey;
        font-weight: 700;
        position: absolute;
        right: 15px;
        bottom: 15px;
    }  
}


/* ----- Buton commander ----- */

.Button {
    width: 100%;
    text-align: center;
}

.btn{
    display:block;
    margin:auto !important;
    margin-top: 40px;
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
    padding: 0 49px;
    border-radius: 1.5rem;
    border: none;
    color: $white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: linear-gradient(170deg, $secondaryColor, lighten($primaryColor, 5%));
    @include shadowBox;
    cursor: pointer;
    a{
        color: $white;
    }
    &:hover{
        background: linear-gradient(170deg, lighten($secondaryColor, 8%), lighten($primaryColor, 8%));
        @include shadowBox(20%);
    }
    @include breakpoints(tablet){
        transform: scale(1.1);
    }
}

/* ----- Transition plats__Page ----- */
.DishOptions{
    opacity: 0;

    .DishText{
        transform: scaleX(1);
        transform-origin: left;
        @include checkTransitionTiming(width);
    }

    .DishPrice{
        transform-origin: right;
        @include checkTransitionTiming(transform);
    }

    .Check{
        display: flex;
        background-color: $tertiaryColor;
        width: $checkTransitionWidth;
        transform-origin: right;
        transform: scaleX(0);
        @include checkTransitionTiming(transform);
        .CheckIcon{
            color: $white;
            font-size: 1.6rem;
            margin: auto;
            transform: rotate(0deg);
            @include checkTransitionTiming(transform)
        }
    }
    &:hover{
        cursor: pointer;
    }
    &:hover .DishText{
        width: 60%;
        .DishName, p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &:hover .Check{
        transform: scaleX(1);
    }
    &:hover .CheckIcon{
        transform: rotate(360deg);
    }
    &:hover .Dish_Price{
        transform: translateX(-$checkTransitionWidth);
    }

    @keyframes menu-load{
        0% {
            transform: translateY(20px);
        }
        75%{
            opacity: .5;
        }
        100% {
            transform: translate(0);
            opacity: 1;
        }
    }
    @for $i from 1 through ($maxDishes){
        &:nth-of-type(#{$i}){
            animation: menu-load 800ms $menuAppearDelay*$i forwards;
        }
    }
}

/* ----- Mise en page pied de page ----- */
footer{
    @include backgroundGrey (65%);
  
    h3, a, i {
      color: white;
    }
  
    h3{
      font-family: 'Shrikhand', cursive;
      font-size:1.2rem;
      padding: 20px 20px 10px 20px;
      }
  
    li{
      font-size:0.9rem;
      font-weight: 300;
      margin-left: 15px;
      padding: 5px;
    }
    i {
      font-size:0.8rem;
      width: 21px;
      margin: 0 5px 0 0;
    }
  }